$fontColor: #3f3f3f;
$bgColor: #ececec;
@import url('https://fonts.googleapis.com/css?family=Nunito');

// @font-face {
//   font-family:'europa';
//   src:url("https://use.typekit.net/af/4eabcf/00000000000000003b9b12fd/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/4eabcf/00000000000000003b9b12fd/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/4eabcf/00000000000000003b9b12fd/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
//   font-style: normal;
//   font-weight: 400
// }

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: content-box
}
body {
  background-color: $bgColor;
}
.project {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 250px auto;
  color: $fontColor;
  .img-wrapper {
    order: 0;
    position: relative;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      display: block
    }
    
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      // background-color: $bgColor; 
      width: 100%;
      height: 100%
    }
    
  }
  
  .text-folder {
    order: 1;
    background-color: #fff;
    position: relative;
    z-index: 1;
    padding: 50px;
    cursor: pointer;
    .intro-title {
      font-size: 12px;
      letter-spacing: .2em;
      font-weight: 500;
      text-transform: uppercase;
      margin: 5px 0
    }
    .main-title {
      font-size: 38px;
      letter-spacing: .05em;
      font-weight: 600
    }
    .small-title {
      font-size: 15px;
      letter-spacing: .05em;
      font-weight: 400;
      margin: 5px 0;
      cursor: pointer;
      display: inline-block;
      position: relative;
      color: #b00f24;
    }
    .small-title:hover {
      &:after {
        transform: scaleX(1);
        transform-origin: left
      }
      
    }
    .small-title:after {
      content: '';
      display: block;
      height: 2px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -3px;
      background-color: #b00f24;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform .3s ease
    }
    
  }
  
}
.project-right {
  justify-content: flex-end;
  .img-wrapper {
    order: 1
  }
  .text-folder {
    order: 0
  }
  
}
.project__item1 {
  margin-top: 500px;
  .img-wrapper {
    width: 1600px
  }
  .text-folder {
    margin-right: -235px
  }
  
}
.project__item2 {
  margin-left: 110px;
  .img-wrapper {
    width: 752px
  }
  .text-folder {
    margin-left: -100px
  }
  
}
.project__item3 {
  .img-wrapper {
    width: 1427px
  }
  .text-folder {
    margin-right: -475px
  }
  
}
.project__item4 {
  .img-wrapper {
    width: 1300px
  }
  .text-folder {
    margin-left: -255px
  }
  
}
.project__item5 {
  .img-wrapper {
    width: 1110px
  }
  .text-folder {
    margin-right: -100px
  }
  
}
.project__item6 {
  margin-left: 150px;
  .img-wrapper {
    width: 1300px
  }
  .text-folder {
    margin-left: -145px
  }
  
}
